h1 {
  color: red;
  font-family: Arial, sans-serif;
  font-size: 34px;
}

h3 {
    color: blue;
}

#joe {
    color: red;
    font-size: 5;
}

#sally {
    color: blue;
    font-size: 4;
}

#bob {
    color: green;
    font-size: 4;
    font-family: verdana;
}

img {
    border-radius: 8px;
}